/*************** ANIMATIONS ***************/
//@-webkit-keyframes cube-spin{
//	from{
//		-webkit-transform : rotateY(0);
//	}
//	to{ -webkit-transform : rotateY(360deg); }
//}
//
//@-ms-keyframes cube-spin{
//	from{ ms-transform : rotateY(0); }
//	to{ ms-transform : rotateY(360deg); }
//}
//
//@keyframes cube-spin{
//	from{ transform : rotateY(0); }
//	to{ transform : rotateY(360deg); }
//}

@-webkit-keyframes spin-vertical{
	0%{ -webkit-transform : rotateX(0) rotateY(0); }
	100%{ -webkit-transform : rotateX(-360deg) rotateY(360deg); }
}

@-ms-keyframes spin-vertical{
	0%{ -webkit-transform : rotateX(0) rotateY(0); }
	100%{ -webkit-transform : rotateX(-360deg) rotateY(360deg); }
}

@keyframes spin-vertical{
	0%{ -webkit-transform : rotateX(0) rotateY(0); }
	100%{ -webkit-transform : rotateX(-360deg) rotateY(360deg); }
}

@-webkit-keyframes spin-vertical-backward{
	from{ -webkit-transform : rotateX(-360deg) rotateY(360deg); }
	to{ -webkit-transform : rotateX(0deg) rotateY(0deg); }
}

@-ms-keyframes spin-vertical-backward{
	from{ -webkit-transform : rotateX(-360deg) rotateY(360deg); }
	to{ -webkit-transform : rotateX(0deg) rotateY(0deg); }
}

@keyframes spin-vertical-backward{
	from{ -webkit-transform : rotateX(-360deg) rotateY(360deg); }
	to{ -webkit-transform : rotateX(0deg) rotateY(0deg); }
}

/*************** STANDARD CUBE ***************/

.wrap(@height) {
	-webkit-perspective        : 800px;
	-webkit-perspective-origin : 50% (@height /2);
	-moz-perspective           : 800px;
	-moz-perspective-origin    : 50% (@height /2);
	-ms-perspective            : 800px;
	-ms-perspective-origin     : 50% (@height /2);
	perspective                : 800px;
	perspective-origin         : 50% (@height /2);

	&.vertical .cube{

		&.animate{
			-webkit-animation : spin-vertical 2s linear 2s;
			-moz-animation    : spin-vertical 2s linear 2s;
			-ms-animation     : spin-vertical 2s linear 2s;
			animation         : spin-vertical 2s linear 2s;
		}

		&.pause{
			-webkit-animation-play-state : paused; /* Chrome, Safari, Opera */
			animation-play-state         : paused;
		}
	}

	&.backward .cube{
		&.animate{
			-webkit-animation : spin-vertical-backward 2s linear 2s;
		}
	}

}

.cube{
	position                : relative;
	-webkit-transform-style : preserve-3d;
	//	-webkit-animation       : cube-spin 5s infinite linear;
	-moz-transform-style    : preserve-3d;
	//	-moz-animation          : cube-spin 5s infinite linear;
	-ms-transform-style     : preserve-3d;
	//	-ms-animation           : cube-spin 5s infinite linear;
	transform-style         : preserve-3d;
	//	animation: cube-spin 5s infinite linear;
}

.cube div{
	position : absolute;
	//	background : rgba(255, 255, 255, 0.1);
	//	box-shadow : inset 0 0 30px rgba(125, 125, 125, 0.8);
}

/*************** DEPTH CUBE ***************/

.depth{
	div{
		&.top-pane{
			-webkit-transform-origin : top center;
			-moz-transform-origin    : top center;
			-ms-transform-origin     : top center;
			transform-origin         : top center;
		}
		&.bottom-pane{
			-webkit-transform-origin : bottom center;
			-moz-transform-origin    : bottom center;
			-ms-transform-origin     : bottom center;
			transform-origin         : bottom center;
		}
		&.front-pane{
			-webkit-transform : translateZ(0px);
			-moz-transform    : translateZ(0px);
			-ms-transform     : translateZ(0px);
			transform         : translateZ(0px);
		}
	}
}

/*************** VERTICAL SPINNING CUBE ***************/

.top-pane(@height) {
	-webkit-transform : rotateX(-270deg) translateY(-1 * @height);
	-moz-transform    : rotateX(-270deg) translateY(-1 * @height);
	-ms-transform     : rotateX(-270deg) translateY(-1 * @height);
	transform         : rotateX(-270deg) translateY(-1 * @height);
}

.back-pane(@height) {
	-webkit-transform : translateZ(-1 * @height) rotateX(180deg);
	-moz-transform    : translateZ(-1 * @height) rotateX(180deg);
	-ms-transform     : translateZ(-1 * @height) rotateX(180deg);
	transform         : translateZ(-1 * @height) rotateX(180deg);
}

.bottom-pane(@height) {
	-webkit-transform : rotateX(-90deg) translateY(@height);
	-moz-transform    : rotateX(-90deg) translateY(@height);
	-ms-transform     : rotateX(-90deg) translateY(@height);
	transform         : rotateX(-90deg) translateY(@height);
}

.left-pane(@height) {
	-webkit-transform        : rotateY(270deg) translateX(-1 * @height);
	-webkit-transform-origin : center left;
	-moz-transform           : rotateY(270deg) translateX(-1 * @height);
	-moz-transform-origin    : center left;
	-ms-transform            : rotateY(270deg) translateX(-1 * @height);
	-ms-transform-origin     : center left;
	transform                : rotateY(270deg) translateX(-1 * @height);
	transform-origin         : center left;
}

.right-pane(@height) {
	-webkit-transform        : rotateY(-270deg) translateX(@height);
	-webkit-transform-origin : top right;
	-moz-transform           : rotateY(-270deg) translateX(@height);
	-moz-transform-origin    : top right;
	-ms-transform            : rotateY(-270deg) translateX(@height);
	-ms-transform-origin     : top right;
	transform                : rotateY(-270deg) translateX(@height);
	transform-origin         : top right;
}

