.frame{
	width                   : 33px;
	-moz-transform-style    : preserve-3d;
	-webkit-transform-style : preserve-3d; /* translate must be last */
}

.ticket{
	-webkit-perspective : 1000;

	.frame{
		-webkit-transform : rotateX(-83deg) rotateY(0deg) rotateZ(-90deg) translate3d(-659px, -73px, 0px);
		.strip div{
			height          : 370px;
			background-size : 555px 370px;
		}
	}

	&.medium{
		.frame{
			-webkit-transform : rotateX(-50deg) rotateY(0deg) rotateZ(-90deg) translate3d(-184px, -11px, 0px);
		}
	}
	&.large{
		.frame{
			-webkit-transform : rotateX(41deg) rotateY(0deg) rotateZ(-90deg) translate3d(-209px, 54px, 0px);
		}
	}
}

.strip{
	-moz-transform-style    : preserve-3d;
	-webkit-transform-style : preserve-3d;
	-moz-animation          : spin 25s infinite linear;
	-webkit-animation       : spin 25s infinite linear;
}

.strip div{
	position   : absolute;
	background : #000000 url('/img/sf-florida-lottery-scratchoff-game-20130816.jpg'); /*480x320 The image needs to be lanscape*/
	height     : 320px; //set the height of the box
	width      : 34px;
	opacity    : 1;
}

@-moz-keyframes spin {
	from { -moz-transform: rotateY(0);}
	to   { -moz-transform: rotateY(-360deg);}
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(0);}
	to   { -webkit-transform: rotateY(-360deg);}
}

/*********************************************************
DO NOT CHANGE,
http://www.baloziproductions.com/WrapImageAroundCylinder
*********************************************************/
.strip .a{
	background-position : 0 0;
	-moz-transform      : rotateY(0deg) translateZ(124px);
	-webkit-transform   : rotateY(0deg) translateZ(124px) }

.strip .b{ background-position : 759px 0;
	-moz-transform             : rotateY(15deg) translateZ(124px);
	-webkit-transform          : rotateY(15deg) translateZ(124px) }

.strip .c{ background-position : 726px 0;
	-moz-transform             : rotateY(30deg) translateZ(124px);
	-webkit-transform          : rotateY(30deg) translateZ(124px) }

.strip .d{ background-position : 693px 0;
	-moz-transform             : rotateY(45deg) translateZ(124px);
	-webkit-transform          : rotateY(45deg) translateZ(124px) }

.strip .e{ background-position : 660px 0;
	-moz-transform             : rotateY(60deg) translateZ(124px);
	-webkit-transform          : rotateY(60deg) translateZ(124px) }

.strip .f{ background-position : 627px 0;
	-moz-transform             : rotateY(75deg) translateZ(124px);
	-webkit-transform          : rotateY(75deg) translateZ(124px) }

.strip .g{ background-position : 594px 0;
	-moz-transform             : rotateY(90deg) translateZ(124px);
	-webkit-transform          : rotateY(90deg) translateZ(124px) }

.strip .h{ background-position : 561px 0;
	-moz-transform             : rotateY(105deg) translateZ(124px);
	-webkit-transform          : rotateY(105deg) translateZ(124px) }

.strip .i{ background-position : 528px 0;
	-moz-transform             : rotateY(120deg) translateZ(124px);
	-webkit-transform          : rotateY(120deg) translateZ(124px) }

.strip .j{ background-position : 495px 0;
	-moz-transform             : rotateY(135deg) translateZ(124px);
	-webkit-transform          : rotateY(135deg) translateZ(124px) }

.strip .k{ background-position : 462px 0;
	-moz-transform             : rotateY(150deg) translateZ(124px);
	-webkit-transform          : rotateY(150deg) translateZ(124px) }

.strip .l{ background-position : 429px 0;
	-moz-transform             : rotateY(165deg) translateZ(124px);
	-webkit-transform          : rotateY(165deg) translateZ(124px) }

.strip .m{ background-position : 396px 0;
	-moz-transform             : rotateY(180deg) translateZ(124px);
	-webkit-transform          : rotateY(180deg) translateZ(124px) }

.strip .n{ background-position : 363px 0;
	-moz-transform             : rotateY(195deg) translateZ(124px);
	-webkit-transform          : rotateY(195deg) translateZ(124px) }

.strip .o{ background-position : 330px 0;
	-moz-transform             : rotateY(210deg) translateZ(124px);
	-webkit-transform          : rotateY(210deg) translateZ(124px) }

.strip .p{ background-position : 297px 0;
	-moz-transform             : rotateY(225deg) translateZ(124px);
	-webkit-transform          : rotateY(225deg) translateZ(124px) }

.strip .q{ background-position : 264px 0;
	-moz-transform             : rotateY(240deg) translateZ(124px);
	-webkit-transform          : rotateY(240deg) translateZ(124px) }

.strip .r{ background-position : 231px 0;
	-moz-transform             : rotateY(255deg) translateZ(124px);
	-webkit-transform          : rotateY(255deg) translateZ(124px) }

.strip .s{ background-position : 198px 0;
	-moz-transform             : rotateY(270deg) translateZ(124px);
	-webkit-transform          : rotateY(270deg) translateZ(124px) }

.strip .t{ background-position : 165px 0;
	-moz-transform             : rotateY(285deg) translateZ(124px);
	-webkit-transform          : rotateY(285deg) translateZ(124px) }

.strip .u{ background-position : 132px 0;
	-moz-transform             : rotateY(300deg) translateZ(124px);
	-webkit-transform          : rotateY(300deg) translateZ(124px) }

.strip .v{ background-position : 99px 0;
	-moz-transform             : rotateY(315deg) translateZ(124px);
	-webkit-transform          : rotateY(315deg) translateZ(124px) }

.strip .w{ background-position : 66px 0;
	-moz-transform             : rotateY(330deg) translateZ(124px);
	-webkit-transform          : rotateY(330deg) translateZ(124px) }

.strip .x{ background-position : 33px 0;
	-moz-transform             : rotateY(345deg) translateZ(124px);
	-webkit-transform          : rotateY(345deg) translateZ(124px) }


