body{
	background-color       : #000000;
	-webkit-font-smoothing : antialiased;
	overflow: hidden;
	margin: 0px;
}

.row{
	margin : 0px;
}

.lott-container{
	width    : @screenWidth;
	height   : @screenHeight;
	cursor   : none !important;
	position : relative;
	margin   : 0px auto;
}

.padding-top{
	padding: 8px 0px;
}