.left-container, .right-container{
	display  : inline-block;
	float    : left;
	position : relative;
}

.left-container{
	width : 430px;
	&:before{
		content         : '';
		position        : absolute;
		background      : #000000 url('img/vertical-header.png') no-repeat top center;
		background-size : 410px 993px;
		width           : 410px;
		height          : 993px;
		top             : 0px;
		left            : 0px;
		z-index         : -1;
	}

	.megamillions, .powerball{
		z-index                   : 1;
		width                     : 410px;
		color                     : #ffffff;
		font-family               : "Arial Black",arial,sans-serif;;
		font-weight               : 900;
		-webkit-text-stroke-width : 3px;
		-webkit-text-stroke-color : #f20f56;
		letter-spacing            : -2px;
		vertical-align            : bottom;
		word-wrap                 : break-word;
		text-align                : center;

		span{
			display        : block;
			font-size      : 32pt;
			text-transform : uppercase;

			&:first-child{
				font-size   : 75pt;
				line-height : 66pt;
			}
		}
	}

	.powerball{
		height     : 221px;
		margin-top : 375px
	}

	.megamillions{
		height     : 185px;
		margin-top : 212px;
	}
}

.right-container{
	width : 840px;
}

.ticket{
	display             : inline-block;
	position            : relative;
	width               : 200px;
	height              : 155px;
	float               : left;
	margin              : 5px;
	background-repeat   : no-repeat;
	background-size     : 200px;
	background-position : center center;

	.price, .number{
		position               : absolute;
		z-index                : 1;
		color                  : #ffffff;
		font-family            : "Arial Black",arial,sans-serif;;
		font-weight            : 900;
		font-size              : 25pt;
		bottom                 : 0px;
		-webkit-font-smoothing : antialiased !important;
	}

	img{
		width : 100%;
	}

	.price{
		right                     : 10px;
		text-shadow               : 4px 2px 0px rgba(242, 15, 86, 1);
		-webkit-text-stroke-width : 1px;
		-webkit-text-stroke-color : #f20f56;
	}

	.number{
		left       : 0px;
		font-size  : 17pt;
		width      : 40px;
		height     : 35px;
		text-align : center;
		padding    : 3px;
		background : #0c080a;
	}

}

.ticket{
	.flip-container, .front, .back{
		width             : 200px;
		height            : 155px;
		background-repeat : no-repeat;
		background-size   : 200px;
	}

	.flipper{

		.front, .back{
			overflow         : hidden;
			background-color : #f20f56;
		}
		img{
			width : 200px;
		}
	}

}


