<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=yes, date=no">

	<script src="json/tickets.js"></script>
	<script src="json/configs.js"></script>

	<% if (config.environment === 'dev') { %>
	<link rel="stylesheet/less" type="text/css" href="/styles.less">
	<script>
		less = {
			env: "development",
			async: true,
			dumpLineNumbers: "mediaQuery",
			logLevel:1

		};
	</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>	<% } else { %>
	<style><% print	(config.css_sources); %></style>
	<% } %>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
<div data-ng-include="'/views/v140819.html'" ></div>


<% if (config.environment === 'dist') { %>
<script type="text/javascript"><%print(config.js_sources);%></script>
<% } else { %>
<script type="text/javascript" data-main="/js/main" src="/lib/requirejs/require.js"></script>

<% } %>


</body>
</html>
