// Core variables and mixins
@import "lib/bootstrap/less/variables";
@import "lib/bootstrap/less/mixins";

// Reset
@import "lib/bootstrap/less/normalize";
@import "lib/bootstrap/less/print";

// Core CSS
@import "lib/bootstrap/less/scaffolding";
@import "lib/bootstrap/less/grid";


@screenWidth:1280px;
@screenHeight:1024px;

@cellHeight:(@screenHeight - 73px) / 6;
@cellWidth:@screenWidth / 5;

@cellMedWidth:(@cellWidth * 3) / 2;
@cellMedHeight:(@cellHeight * 3) / 2;

@cellLgWidth:@cellWidth * 2;
@cellLgHeight:@cellHeight * 2;

@headerHeight:54px;

@import "css/header";

//The flipping cards
@import "css/flips";

//this is the design for 24 cards
@import "css/v140819_24";
//this is the design for 28 cards
//@import "css/v140819_28";

//If you want the 3D cubes
// @import "css/cube";
