<div class="ticket">
	<div class="frame">
		<div class="strip">
			<div class="a"></div>
			<div class="b"></div>
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
			<div class="g"></div>
			<div class="h"></div>
			<div class="i"></div>
			<div class="j"></div>
			<div class="k"></div>
			<div class="l"></div>
			<div class="m"></div>
			<div class="n"></div>
			<div class="o"></div>
			<div class="p"></div>
			<div class="q"></div>
			<div class="r"></div>
			<div class="s"></div>
			<div class="t"></div>
			<div class="u"></div>
			<div class="v"></div>
			<div class="w"></div>
			<div class="x"></div>
		</div>
	</div>
</div>
<div class="ticket medium">
	<div class="frame">
		<div class="strip">
			<div class="a"></div>
			<div class="b"></div>
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
			<div class="g"></div>
			<div class="h"></div>
			<div class="i"></div>
			<div class="j"></div>
			<div class="k"></div>
			<div class="l"></div>
			<div class="m"></div>
			<div class="n"></div>
			<div class="o"></div>
			<div class="p"></div>
			<div class="q"></div>
			<div class="r"></div>
			<div class="s"></div>
			<div class="t"></div>
			<div class="u"></div>
			<div class="v"></div>
			<div class="w"></div>
			<div class="x"></div>
		</div>
	</div>
</div>
<div class="ticket large">
	<div class="frame">
		<div class="strip">
			<div class="a"></div>
			<div class="b"></div>
			<div class="c"></div>
			<div class="d"></div>
			<div class="e"></div>
			<div class="f"></div>
			<div class="g"></div>
			<div class="h"></div>
			<div class="i"></div>
			<div class="j"></div>
			<div class="k"></div>
			<div class="l"></div>
			<div class="m"></div>
			<div class="n"></div>
			<div class="o"></div>
			<div class="p"></div>
			<div class="q"></div>
			<div class="r"></div>
			<div class="s"></div>
			<div class="t"></div>
			<div class="u"></div>
			<div class="v"></div>
			<div class="w"></div>
			<div class="x"></div>
		</div>
	</div>
</div>