<div class="lott-container"  data-ng-controller="ApplicationController">
	<div class="padding-top"></div>
	<div class="row">
		<div class="left-container">
			<div class="{{getJackpots[$index]}}"  data-ng-repeat="pot in getJackpots">
				<span data-ng-bind-html="jackpots[getJackpots[$index]].spans[0]"></span>
				<span data-ng-bind-html="jackpots[getJackpots[$index]].spans[1]"></span>
			</div>
		</div>
		<div class="right-container">
			<div class="ticket" data-ng-repeat="ticket in tickets">
				<div class="price">$<span data-ng-bind="ticket.price"></span></div>
				<div class="number" data-ng-bind="ticket.id"></div>
				<div class="flip-container" data-ng-class="{'animate':ticket.animate,'vertical':ticket.vertical }">
					<div class="flipper">
						<div data-ng-repeat="face in flipper" class="{{face}}">
							<img src="./tickets/{{ticket.image}}" data-get-image-size/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
