<div class="lott-container">
	<div class="header">
		<div class="container left">
			<div class="florida">
				<span data-ng-bind-html="jackpots.lotto">&nbsp;</span>

			</div>
		</div>
		<div class="container right">
			<div class="mega">
				<span data-ng-bind-html="jackpots.megamillions">&nbsp;</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="ticket large" data-ng-class="{'active':spinners[0].active}">
			<div class="price">$<span data-ng-bind="tickets[0].price"></span></div>
			<div class="number" data-ng-bind="tickets[0].id"></div>
			<div class="cube-wrap vertical" data-ng-class="{'backward':spinners[0].backward}">
				<div class="cube depth" data-spinner data-ng-class="{'animate':spinners[0].active}">
					<div data-ng-repeat="pane in panels" class="{{pane}}"  style="background-image: url('./tickets/{{tickets[0].image}}');"></div>
				</div>
			</div>
		</div>

		<div class="ticket" data-ng-repeat="row in rows[0]">
			<div class="price">$<span data-ng-bind="tickets[row].price"></span></div>
			<div class="number" data-ng-bind="tickets[row].id"></div>
			<div class="flip-container" data-ng-class="{'animate':tickets[row].animate,'vertical':tickets[row].vertical }">
				<div class="flipper">
					<div data-ng-repeat="face in flipper" class="{{face}}"  style="background-image: url('./tickets/{{tickets[row].image}}');"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">

		<div class="ticket large" data-ng-class="{'active':spinners[1].active}">
			<div class="price">$<span data-ng-bind="tickets[1].price"></span></div>
			<div class="number" data-ng-bind="tickets[1].id"></div>
			<div class="cube-wrap vertical" data-ng-class="{'backward':spinners[1].backward}">
				<div class="cube depth" data-spinner data-ng-class="{'animate':spinners[1].active}">
					<div data-ng-repeat="pane in panels" class="{{pane}}"  style="background-image: url('./tickets/{{tickets[1].image}}');"></div>

				</div>
			</div>
		</div>
		<div class="ticket" data-ng-repeat="row in rows[1]">
			<div class="price">$<span data-ng-bind="tickets[row].price"></span></div>
			<div class="number" data-ng-bind="tickets[row].id"></div>
			<div class="flip-container" data-ng-class="{'animate':tickets[row].animate,'vertical':tickets[row].vertical }">
				<div class="flipper">
					<div data-ng-repeat="face in flipper" class="{{face}}"  style="background-image: url('./tickets/{{tickets[row].image}}');"></div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="ticket" data-ng-repeat="row in rows[2]">
			<div class="price">$<span data-ng-bind="tickets[row].price"></span></div>
			<div class="number" data-ng-bind="tickets[row].id"></div>
			<div class="flip-container" data-ng-class="{'animate':tickets[row].animate,'vertical':tickets[row].vertical }">
				<div class="flipper">
					<div data-ng-repeat="face in flipper" class="{{face}}"  style="background-image: url('./tickets/{{tickets[row].image}}');">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
